torch~=1.7.1
torchaudio~=0.7.2
torchtext~=0.8.1
torchvision~=0.8.2
torchmetrics~=0.2.0
pytorch-lightning~=1.2.3
scikit-learn
tensorboard
nltk
tqdm
matplotlib
numpy
rouge-metric
py7zr
requests
ipython
pillow
